<!DOCTYPE html>
<html>
  <head>
    <title>Negocios</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

  <div style="text-align:center;">
 <h1>Inventario Casa de Música</h1> 
<%= link_to 'Nuevo articulo', new_inven_path %>
<%= link_to 'Reportes', invens_reporte_path %>
<%= link_to 'Home', invens_path %>

 <img src="https://es.yamaha.com/es/files/Musical_Instruments_H_1200x480_75bd2ddd7bc72ae98237d79c92b96d60.jpg" alt="musica" style="width:1100px;height:200px"> 
    <%= yield %>
    </div>
  
  </body>
</html>
